In [15]:
import pandas as pd

In [16]:
df=pd.read_csv('ChatbotData.csv')

In [17]:
df

                             Q                         A  label
0                       12시 땡!                하루가 또 가네요.      0
1                  1지망 학교 떨어졌어                 위로해 드립니다.      0
2                 3박4일 놀러가고 싶다               여행은 언제나 좋죠.      0
3              3박4일 정도 놀러가고 싶다               여행은 언제나 좋죠.      0
4                      PPL 심하네                눈살이 찌푸려지죠.      0
...                        ...                       ...    ...
11818           훔쳐보는 것도 눈치 보임.        티가 나니까 눈치가 보이는 거죠!      2
11819           훔쳐보는 것도 눈치 보임.             훔쳐보는 거 티나나봐요.      2
11820              흑기사 해주는 짝남.                    설렜겠어요.      2
11821  힘든 연애 좋은 연애라는게 무슨 차이일까?  잘 헤어질 수 있는 사이 여부인 거 같아요.      2
11822               힘들어서 결혼할까봐        도피성 결혼은 하지 않길 바라요.      2

[11823 rows x 3 columns]

In [18]:
df['daily_index']=df.index

In [19]:
df=df[['daily_index', 'A']]

In [20]:
df

       daily_index                         A
0                0                하루가 또 가네요.
1                1                 위로해 드립니다.
2                2               여행은 언제나 좋죠.
3                3               여행은 언제나 좋죠.
4                4                눈살이 찌푸려지죠.
...            ...                       ...
11818        11818        티가 나니까 눈치가 보이는 거죠!
11819        11819             훔쳐보는 거 티나나봐요.
11820        11820                    설렜겠어요.
11821        11821  잘 헤어질 수 있는 사이 여부인 거 같아요.
11822        11822        도피성 결혼은 하지 않길 바라요.

[11823 rows x 2 columns]

In [21]:
df.to_csv('ChatbotData_forMongoDB.csv')